<%- include('partials/head.ejs') %>

    <h1 class="head">signup</h1>
    <div class="form-container">
        <form action="/signup" method="POST">
            <input type="text" placeholder="Email.." name="email">
            <input type="password" placeholder="password" name="password">
            <input type="password" placeholder="rePassword" name="rePassword">
            <button type="submit">Sign up</button>
        </form>
    </div>
</body>
</html>